@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
/* @import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css"; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  /* background-color: #f0f0f0; */
  background-color: #f8f8f8;
  /* background-color: #858484; */
  
}

.CodeMirror{
  height: 340px !important;
  color: #fff;
}

.CodeMirror-gutters{
  background: #1d1e22 !important;
}

.CodeMirror-scroll{
  background: #1d1e22;
}

